# -i https://download.pytorch.org/whl/cu116
# torch
accelerate
bitsandbytes
datasets
sentencepiece
safetensors
git+https://github.com/huggingface/transformers.git
git+https://github.com/sterlind/GPTQ-for-LLaMa.git@lora_4bit
# git+https://github.com/sterlind/peft.git
git+https://github.com/sterlind/peft.git@360de4e0b1d3f2aa3b569e1bf20665b6928b452a
